<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messengerdemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessengerDemo">
        <activity android:name=".messages.MesajActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.GecmisMesajlarActivity" />
        </activity>
        <activity android:name=".messages.YeniMesajlarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.GecmisMesajlarActivity" />
        </activity>
        <activity android:name=".registerlogin.KayitOlActivity" />
        <activity android:name=".registerlogin.GirisActivity" />
        <activity android:name=".messages.GecmisMesajlarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>